src/pylhe/_version.py
MANIFEST
build
dist
_build
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage*
!.coveragerc
coverage*
*,cover

*.swp
*.map
.idea/
config.rst

/.project
/.pydevproject

# pytest
.pytest_cache
htmlcov
.benchmarks
