name: CI/CD

on:
  push:
    branches:
      - master
  pull_request:
  # Run daily at 0:01 UTC
  schedule:
  - cron:  '1 0 * * *'
  workflow_dispatch:

jobs:
  test:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip --quiet install .[test]
        python -m pip list

    - name: Install external pacakges
      run: >-
        sudo apt-get update -y &&
        sudo apt-get install -y
        graphviz
        texlive-latex-base
        texlive-fonts-extra
        texlive-extra-utils

    - name: Test with pytest
      run: |
        pytest -r sx tests/

      # Report coverage for oldest and newest Python tested to guard against version differences
    - name: Report core project coverage with Codecov
      if: >-
        github.event_name != 'schedule' &&
        (matrix.python-version == '3.7' || matrix.python-version == '3.10') &&
        matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage.xml
        flags: unittests-${{ matrix.python-version }}
        name: pylhe

  docker:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Build Docker image
      run: |
        docker build . --file docker/Dockerfile --tag pylhe/pylhe:$GITHUB_SHA
        docker images
